.profile__avatar-mask {
  margin: 0;
  padding: 0;
  height: inherit;
  width: inherit;
  position: absolute;
  background-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__avatar-mask:hover {
  background-color: rgba(0,0,0,0.8);
}
