.profile__description {
  padding: 0;
  margin: 16px 0 0 0;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  max-width: 400px;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 400;
}

@media screen and (max-width: 660px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 11px;
    max-width: 282px;
  }
}
